.divider-component {
  margin: 50px 0;
}

.divider-container {
  text-align: right;
}

.title {
  text-transform: uppercase;
  color: #9e91e3;
  font-weight: bold;
  position: relative;
  display: inline-block;
  padding: 0 20px;
  &:before, &:after {
    content: "";
    display: block;
    height: 1px;
    width: 4000px;
    background: #e1e1e1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &::before {
    right: 100%;
  }

  &:after {
    left: 100%;
  }
}